footer {
    background-color: #54BFB5;
    margin: 30px  30px 0 30px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

footer #copyright {
    color: white;
    font-size: 24px;
}

.img-logo {
    width: 309px;
    height: 50px;
    margin-left: 45px;
}